# Day -2 Python

dynamic typing ->>>Dynamic Typing Python is a dynamically typed language. This means that the Python interpreter does type checking only as code runs, and that the type of a variable is allowed to change over its lifetime.

dynamic typing is basicallay when we write a= 10 , the compiler on the run time understand the datatype of the variable a

In [1]:
a=10

because in all the other languages we have to declare the data type .....

In [2]:
a='c'

In [3]:
int()

0

In [4]:
#give 0 if no number is given ...

In [5]:
int('123') # it is typecasting

123

# Typecasting-->>changing the data type of the data ....

In [6]:
int('abcd')

ValueError: invalid literal for int() with base 10: 'abcd'

if strings are in the form of the numbers only then we are able to do the typecasrting ....

In [7]:
#let's learn the print statement ...

In [8]:
print() # end = "\n" , sep = ''(blank)
# file = sys.stdout(wherever is the output console it will print the output or result )

In [9]:
print("hello world")

hello world

In [10]:
print(12)

12

In [11]:
age = 32

In [14]:
print("my age is :"  , age )

my age is : 32

In [15]:
print("my age is {age}")

my age is {age}

In [18]:
print(f"my age is {age}") # f value stands for format here....this is basically known as formating ..
# this is known as F string in python

my age is 32

In [21]:
# format way 
name = 'krish'
age = 32
print("my name is {} and age is {}".format(name,age))

my name is krish and age is 32

In [22]:
name = 'Rohan'
profession = "god of Data"
age = 25
print("my name is {} and profession is {} and i am {} years old".format(name , profession , age ))

my name is Rohan and profession is god of Data and i am 25 years old

In [23]:
#placeholder 
name = "rohan"
age = 32
print("my name is {firstname} and my age is {firstage}".format(firstname = name , firstage = age ))

my name is rohan and my age is 32

In [24]:
name = "rohan"
degree = 'B.com'
age = 25
print("my age is {} and i have completed my degree {} with the name of  {}".format(age , degree , name))

my age is 25 and i have completed my degree B.com with the name of  rohan

In [25]:
print(f"my age is {age} and i have completed my degree in {degree} with the name of {name}")

my age is 25 and i have completed my degree in B.com with the name of rohan

In [27]:
print('my age is :' ,age , "and i have completed my degree in :" , degree , "with the name of :" , name )

my age is : 25 and i have completed my degree in : B.com with the name of : rohan

In [29]:
print("my age is {firstname} and i have completed my degree in {fdegree} with the name of {fname}".format(firstname = age , fdegree = degree ,fname = name  ))

my age is 25 and i have completed my degree in B.com with the name of rohan

# 4) Control Flow
   **Here, we are going to review and learn the most fundamentals of Python control flow: Decision making statement and loops.**

## 4.1 Decision Making Statement
   * It is kind of making decision during occurred situation of program execution and action can be taken according to specified conditions.
   * Structure of decision making evaluate several expressions that provide True or False as a result.
   * It is up to you to decide which type of action want to take and execute the statements based upon True and False.
   
**These are several topics of decision making which going to be discussed below:**
   1. **if**
   2. **if else** 
   3. **if elif else**
   4. **Nested if**
   5. **Single Statement Suites**

### 4.1.1 If statement
   - In python `if` statement is same as other languages.
   - It is having a logical expression where data is getting compared and based upon comparison result a decision is made.
   
**Examples**

In [41]:
# if statement 
age = 14
if age >18:
    #by using this colon we are saying now you are inside the if block(if condition is True only then it will go inside block)
    print("you can vote")
else:
    
    print("you can't vote")

you can't vote

In [43]:
age = 21
if age <= 18:
    print("you can't vote ") # when the condition is not fulfilled it is not giving any output

In [44]:
age = 19
if age >=18:
    print("you can vote")

you can vote

# Input function

input function is used when we want to give information in the ouput console from our side ....

In [45]:
input() # input is giving us prompt and asking for information it will print the given information is output console

rohan

'rohan'

In [46]:
# by default input ptint or collect the data as a string

In [47]:
input() # 33 is string here

33

'33'

In [48]:
name = input()

rohan

In [49]:
name  # our input will be save in the variable name

'rohan'

In [51]:
name = input('enter your name ')

enter your name krish naik

In [52]:
name

'krish naik'

In [53]:
# if we have to convert the input data into the int we have to do the typecasting ...
age = int(input("enter your age "))

enter your age 23

In [54]:
age

23

In [55]:
type(name)

str

In [56]:
type(age)

int

In [57]:
age = int(input('enter your age'))
if age >= 18 and age <=45:
    print("you are young blood")
else:
    print("take care of your health")

enter your age34
you are young blood

In [58]:
age = int(input('enter your age'))
if age >= 18 and age <=45:
    print("you are young blood")
else:
    print("take care of your health")

enter your age47
take care of your health

In [59]:
age = int(input('enter your age'))
if age >= 18 and age <=45:
    print("you are young blood")
else:
    print("take care of your health")

enter your age17
take care of your health

### 4.1.2 If-else statement

   - With `if` statement an `else` statement is combined.
   - `if-else` statement have a block of code, where `if` is executed when it is `1` or `True` and `else` when `if` is `0` or `False` 
   >**Note:** The `else` statement is consider to be an optional statement, so there could be only one `else` statement in block of code.
   
**Examples**

In [62]:
age = int(input('enter your age:'))
if age >= 18 and age <=45:
    print("you are young blood")
else:
    print("Thankyou your appplication is rejected ")

enter your age:90
Thankyou your appplication is rejected

In [64]:
amount =int(input("enter the product price"))
if amount > 1000:
    print(f"you will get a discount of 20% and the value of your price is {amount * .8}")
else:
    print(F"you will get a discount of 30% and the value of your product is {amount * .7}")

enter the product price1200
you will get a discount of 20% and the value of your price is 960.0

In [65]:
amount =int(input("enter the product price"))
if amount > 1000:
    print(f"you will get a discount of 20% and the value of your price is {amount * .8}")
else:
    print(F"you will get a discount of 30% and the value of your product is {amount * .7}")

enter the product price800
you will get a discount of 30% and the value of your product is 560.0

### 4.1.3 If-elif-else statement

   - The `elif` statement is used to check for the multiple `True` expressions and so on if the condition is `True` it execute a block of code.
   - Similar `elif` statement is consider to be an optional like `else` statement. 
   - Though, we can use `elif` statement multiple times in a block of code, but `else` statement can be used only ones
   
**Examples**

In [66]:
## mall - input the product price
## product >3000 rs 20% off
## price is ==4000 you get a trip to Goa
## print the product price after removing the discount
## product >=2000 rs and <=3000 30% off
## print the product price after removing the discount
## price ==2999  u will get adiitional gift
## product 100 rs and <=2000 40% off
## print the product price after removing the discount

In [75]:
price= int(input("enter the product price"))
if price > 3000:
    if price ==4000:
        print("you got a trip to Goa congratulation")
    print("you got a discount of 20% and your product price is {}".format(price *.8))
elif price >2000 and price <=3000:
    if price == 2999:
        print('ypu got an extra gift congratulations ')
    print("you got the discount of 30% and your product price is {}".format(price * .7))
elif price >=100 and price <=2000:
    print('you got the duscount of 40 % and the new price for your product is{}'.format(price * .6))
else:
    print("psa kmao berojgaar logo")

enter the product price1200
you got the duscount of 40 % and the new price for your product is720.0

suppose we use if condition only inplace of elif and else we use only if what it will do is even after fulfilling of a single condition it's keep on going to next condition again and again and it will not gonna stop but if we use if , else and else condition and if any one statements becomes True it will not go further to next condition and display the result instantly

Time complexity --->> time to execute the code will be more and more

In [76]:
price= int(input("enter the product price"))
if price > 3000:
    if price ==4000:
        print("you got a trip to Goa congratulation")
    print("you got a discount of 20% and your product price is {}".format(price *.8))
elif price >2000 and price <=3000:
    if price == 2999:
        print('ypu got an extra gift congratulations ')
    print("you got the discount of 30% and your product price is {}".format(price * .7))
elif price >=100 and price <=2000:
    print('you got the duscount of 40 % and the new price for your product is{}'.format(price * .6))
else:
    print("psa kmao berojgaar logo")

enter the product price0
psa kmao berojgaar logo

Nested if --->> inside the if or elif there is one more if ...

In [78]:
#comparison operator 
True ==True

True

In [81]:
# single statement suites->> # writing if in a single statement 
val = int(input("enter your number "))
if val <=999:print("the value is less than or equal to 999")
else:
    print("Go home")

enter your number 1200
Go home

## 4.2 Loops Statements 
   * In loop, the statements are sequentially executed, execution of first function statement is done first, then second and so on.
   * In situation where you need to perform a block of code many times then loop statement will come in to picture. 
   * It allows to execute/run group of statements or a statement multiple time.
   
**These are several topics of loop statements which going to be discussed below:**
   1. **while Loop** 
   2. **for Loop**
   3. **Nested loops**
   4. **Loop Control**
      * **break**
      * **continue**
      * **pass**

# while loop
### 4.2.1 While Loop

   * It repeats a statement or multiple statements when a provided condition is `True`.
   * Before performing a loop body it check for a condition
   
**Examples**

In [85]:
#example 
joining_age = 25 # till our condition is true it will go to next line add 1 to age and print joining age 
while joining_age <60:
    
    joining_age = joining_age + 1
    print(joining_age)
  #when this condition become False the loop will stop

26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60

In [89]:
joining_age = 23
while joining_age <=60:
    joining_age = joining_age +1
    print(joining_age)
else:
    print("it's time for retirement")

24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
it's time for retirement

In [95]:
atm =1000
while atm !=0:
    atm = atm-100
    print(atm) # it is also printing 0

900
800
700
600
500
400
300
200
100
0

In [96]:
atm =1000
while atm !=0:
    print(atm)
    atm = atm-100

1000
900
800
700
600
500
400
300
200
100

In [97]:
atm =1000
while atm !=0:
    print(atm)
    atm = atm-100
else:
    print("paisa daalo bank waloo")

1000
900
800
700
600
500
400
300
200
100
paisa daalo bank waloo

# For loop

for loop will work iteration inside the containers or lists ...

In [101]:
basket = ['apple' , 'potato' , 'banana' , 'doctor' , 'toothbrush']
for i in basket:
    print(i) # i here is a loop variable

apple
potato
banana
doctor
toothbrush

In [102]:
lst = [1,2,3,'krish' , 'mango' , 'banana' , 'kiwi' , '32']
for x in lst:
    print(x)

1
2
3
krish
mango
banana
kiwi
32

In [103]:
# iterate means move from one elemenet to another ...

In [105]:
fruit_list = ['mango' , 'kiwi' , 'banana' , 'pineapple' , 'apple']
for m in fruit_list:
    print(m)
    if m=='pineapple':
        print("the fruit is pineapple")

mango
kiwi
banana
pineapple
the fruit is pineapple
apple

In [110]:
fruit_list = ['mango' , 'kiwi' , 'banana' , 'pineapple' , 'apple']
for m in fruit_list:
    print(m)
    while m == 'banana':
        print('the fruit is banana')
        
        break

mango
kiwi
banana
the fruit is banana
pineapple
apple

In [111]:
for i in fruit_list:
    print(i,end=',') # by default end = '\n'

mango,kiwi,banana,pineapple,apple,

In [113]:
for i in fruit_list:
    print(i,end='!')

mango!kiwi!banana!pineapple!apple!

In [116]:
fruit= 'mango'
for x in fruit:
    print(x) # string is also a list

m
a
n
g
o

In [117]:
fruit[0]

'm'

In [118]:
fruit[2]

'n'

### 4.2.3 Nested Loops

   * Nested loops is used to create one and more number of loop inside an existing `for` or `while` loop.
   
**Examples**

In [119]:
range(1,3)

range(1, 3)

In [120]:
range(7)

range(0, 7)

In [121]:
print(range(0,7))

range(0, 7)

In [122]:
range(7)

range(0, 7)

In [123]:
print(range(7))

range(0, 7)

In [124]:
print(range(0,7,2))

range(0, 7, 2)

In [127]:
for i in  range(0,7,2):
    print(i)

0
2
4
6

In [130]:
for  i in range(0,7):
    print(i) #exclude the last one

0
1
2
3
4
5
6

In [135]:
n = 7
for i in range(0,n):
    for j in range(0,i+1):
        print("*" , end="")
    print("\r")

*
**
***
****
*****
******
*******

In [133]:
for i in range(0,1):
    print(i) # instead of 0 we have replace it with star

0

In [134]:
for i in range(0,2):
    print(i) # it will print 0 and 1 and both replace with two stars , and end = '' will put the * combine
    # in the same way all the stars are coming together

0
1

In [136]:
# \r is used for crriage return

In [137]:
n = 7
for i in range(0,n):
    for j in range(0,i+1):
        print("*" , end="")
    print("\n")

*

**

***

****

*****

******

*******

In [138]:
'''Here we use nested for loop to create a triangle'''

n=7 #n is length and width of triangle
for i in range(0, n): #loop to handle the rows 

    for j in range(0, i+1): #loop to handle the columns 

        print("* ",end="") #printing the stars 

    print("\r") #after each row line will end

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *

In [139]:
''' This exaple shows the use of nested while loop to
create a pyramid like structure'''

num_rows = int(input("Enter the number of rows: "))
row = 0 #row intialize
while(row < num_rows):
    row += 1 #Rows count increase
    s = num_rows - row #Spaces

    sc = 0 #Space counter intialize
    while(sc < s):
        print(" ", end='')
        sc += 1

    stars = 2*row-1 #Number of stars
    while(stars > 0):
        print("*", end='')
        stars -= 1

    print()

KeyboardInterrupt: Interrupted by user

### 4.2.4 Loop Control
The loop control is used to change its preceding sequence to different form.

**break statement -** This statement used for a premature terminates of current loop immediately and executes the further statement, just like `break` statement in `C` language.

**continue statement -** When `continue` statement is encountered during an iteration, it directly goes to next iteration without performing remaining statements in present iteration. It returns execution to the starting point of current loop and start further iteration.

   >**Note:** `break` and `continue` can be used in both `while` and `for` loop.

**pass statement -** The `pass` statement is considered as a `null` operation. It is useful when a code (i.e., code required in future) has not written till now, but your code will go eventually.

#### Break statement
**Examples**

In [140]:
'''It is a simple example of break, 
where it immediatly terminate an operation of 
statement body when x is equal to 4'''

x = 1
while x < 7:
    print(x)
    if x == 4:
        break
    x += 1

1
2
3
4

In [141]:
'''Here it terminates the 
operational body when fruit name is Papaya'''

fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"] ## List containing friuts name
for x in fruits_list:
    if x == "Papaya":
        break
    print(x)

Mango
Cherry
Apple

#### Continue statement
**Examples**

In [142]:
'''It is a simple example of continue, 
where it simply terminate an current iteration 
when x is equal to 4 and 
continues with next iteration'''

x = 0
while x < 7:
    x += 1
    if x == 4:
        continue
    print(x)

1
2
3
5
6
7

In [143]:
'''In this example it simply terminate 
an current iteration when fruit name is Papaya and 
continues with next iteration'''

fruits_list = ["Mango","Cherry","Apple","Papaya","Banana"] ## List containing friuts name
for x in fruits_list:
    if x == "Papaya":
        continue
    print(x)

Mango
Cherry
Apple
Banana

#### Pass statement
**Examples**

In [144]:
'''A simple example of pass, 
where it is not decided what to do with i'''

for i in [10, 100, 200]:
    pass

In [145]:
'''Continuing with same above example 
if for loop body left simply, then it will throw an error'''

for i in [10, 100, 200]:

IndentationError: expected an indented block (2344064802.py, line 4)