# Day-6 python class

# Functions

------->>>>>very very imp topic

In [1]:
print("this is my program")

this is my program

In [2]:
l = [1,2,3,4]
len(l)

4

we have learnt so many of function so far . Now these function are basically inbuilt function someone has created these function and we are using these function to do some certain tasks and let's see how we are able to make this type of function by our own to do certain tasks

let's see how we can create our own function ....

whenever we are creating a function we need to call the function by a keyword (def)

In [3]:
# def is nothing but definition and we are giving the definition of a function

In [4]:
def test()

SyntaxError: invalid syntax (1800053262.py, line 1)

In [5]:
# here above test() is nothing but the function name we have given so far

In [15]:
def test():
                     # here we are getting an error because we don't clear that what this function is supposed to do ??

IndentationError: expected an indented block (3378664645.py, line 2)

In [16]:
def test():  # pass means pass the entire definition it's fine even we are not giving 
    pass

In [17]:
def test1():  # def is intialization of the function 
    print('this is my very very first function')

In [20]:
test1() # calling the function #

this is my very very first function

In [21]:
# whatever we have written in the definition as a function we will get as a output ..

In [22]:
# major advantage of writing a function is --->>> it always tries to increase the usablity

In [23]:
test1()

this is my very very first function

In [26]:
test1() + "name"

this is my very very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

print always give us the nonetype and nonetype and str can not be concatenated ...

In [27]:
print("my name is ") + 'Rohan'

my name is

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [28]:
def test2():
    return "this is my function with return"

In [29]:
test2()

'this is my function with return'

In [31]:
test2() + " rohan"

'this is my function with return rohan'

In [36]:
# so we should always use return not the print when we are talking about the function

In [38]:
def test3():
    return 1,2,"pwskills" , 34.34

In [40]:
test3() # we can get multiple returns from one single function

(1, 2, 'pwskills', 34.34)

In [41]:
a = 1,2,3,4,5

In [42]:
a # same where here in test3() func we are holding different value in the form of tuple

(1, 2, 3, 4, 5)

In [43]:
type(a)

tuple

In [44]:
type(test3())

tuple

In [46]:
a,b,c,d=1,23,True,False # can hold only 4 values

In [47]:
a

1

In [48]:
b

23

In [49]:
c

True

In [50]:
d

False

In [52]:
test3() # whatever data it will return always return in the form of tuple

(1, 2, 'pwskills', 34.34)

In [53]:
#extracting the data 
test3()[0]

1

In [54]:
test3()[1]

2

In [55]:
#let's assign these return value to diff diff variable
a,b,c,d = test3()

In [56]:
a

1

In [57]:
b

2

In [58]:
c

'pwskills'

In [59]:
d

34.34

In [61]:
# lets do some operation with these functions #let's  write some logic in the functions 
def test4():
    a = 3*4+5
    return a

In [62]:
test4()

17

In [63]:
test4() + 32

49

In [64]:
type(test4())

int

In [72]:
def test5(a,b):
    c = a+b
    return c
                 # whenever we are creating a function and at the time of creation we are passing some data at the time of call of function

In [66]:
test5() # we can pass any data we want to add ourself in this way we create our own function

TypeError: test5() missing 2 required positional arguments: 'a' and 'b'

In [70]:
test5() # it is asking for two argments we need to give it to arguments on which it will do function ...

TypeError: test5() missing 2 required positional arguments: 'a' and 'b'

In [73]:
test5(1,3)

4

In [74]:
test5("rohan" , " kalra") #it will do concatenation operation

'rohan kalra'

In [75]:
test5([1,2,3,4] , [5,6,7,8,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [79]:
test5(b = ' rohan' , a = 'kalra')

'kalra rohan'

In [80]:
l = [1,2,3,4,5, 'rohan', 'pwskills' , [1,2,3,4,5,6,'rohan', 'kalra']]

In [81]:
l

[1, 2, 3, 4, 5, 'rohan', 'pwskills', [1, 2, 3, 4, 5, 6, 'rohan', 'kalra']]

In [82]:
# we have to create a function where it only has to filter out the numeric value  from l 
# create a function which will take list as a input and give me final list with all the numeric value .

In [ ]:
#we will not look for the numeric value inside the list because its datatype is a list

In [83]:
def test6(a):   # here a is our argument we hae to pass a single argument here 
    n=[]         # we define n structure as list
    for i in a:    # starting iterating through each element in a(our argument)
        if type(i)== int or type(i) == float: # our condition 
            n.append(i)    # add each element to n one by one 
    return n           # finally return n

In [85]:
test6(l)  # here a = l

[1, 2, 3, 4, 5]

In [86]:
# now lets extract the int from the list inside the list 
l

[1, 2, 3, 4, 5, 'rohan', 'pwskills', [1, 2, 3, 4, 5, 6, 'rohan', 'kalra']]

In [111]:
def test7(a):
    n = []
    for i in a:
        if i == list:
            for j in i:
                if type(j)==int or type(j) == float:
                    n.append(j)
        else:
            
             if type(i) == int or type(i) == float:
                n.append(i)
                
                
    return n

In [114]:
test7(l)

[1, 2, 3, 4, 5]

In [120]:
def test8(a):
    n=[]
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    n.append(j)
        else:
            if type(i) == int or type(i) == float:
                n.append(i)
    return n

In [121]:
test8(l) # successfully done

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 6]

In [122]:
def test9(a,b,c,d,e): # these a,b,c,d,e are arguments basically 
    pass             # we use the pass function here because we may use it in the future

In [123]:
test9(1,2,34,5,6,7,3,2,3) # we take too many arguments here that's why it return an error

TypeError: test9() takes 5 positional arguments but 9 were given

In [124]:
def test1(*args): # when we written *args it means it will take as many arguments we can give 
    return args  # args = staric of args

In [125]:
test1(1) # taking only one argument

(1,)

In [127]:
test1(1,2,3,4,5) # now taking 5 arguments

(1, 2, 3, 4, 5)

In [128]:
test1(2,3,4,5,6,7,8) # taking as much argument as we give thats what star of args do.

(2, 3, 4, 5, 6, 7, 8)

In [129]:
test1("krish" , [1,2,3,4,5,6,7,8,8,9] , (1,2,3,4) , 1 ,1 ,3 ,4 , 6, 7, 8,5 ,3) # pass the whole data as tuple

('krish',
 [1, 2, 3, 4, 5, 6, 7, 8, 8, 9],
 (1, 2, 3, 4),
 1,
 1,
 3,
 4,
 6,
 7,
 8,
 5,
 3)

In [132]:
# this args is not a keyword we can give anyname may be our name 
def test1(*rohan):
    return rohan

In [134]:
test1(1,2,3,4,5,6,7,8,9)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [135]:
def test2(*sudh): #we can take n no of arguments by using staric operation here 
    return sudh

In [136]:
test2(9,9,9,{9,9,9} , [9,9,9], (9,9,9) , '999')

(9, 9, 9, {9}, [9, 9, 9], (9, 9, 9), '999')

In [143]:
def test(*args , a):
    return args , a

In [140]:
test([1,2,3,4,5]) # missing the values of a

TypeError: test() missing 1 required keyword-only argument: 'a'

In [144]:
test(1,2,3,4 , a= 2) # we have to define a separately beause we can not differentiate a with comma here

((1, 2, 3, 4), 2)

In [149]:
def test4(*args): # whatever data it will accumulate it will do it inside tuple # args by default are tuples 
    l=[]
    for i in args:
        if type(i) == list:
            l.append(i)
    return l

In [151]:
test4(1,2,3,4,[1,2,3,4,5,'rohan' , 'sudh' , 'krish']) # extracting the list out of this data

[[1, 2, 3, 4, 5, 'rohan', 'sudh', 'krish']]

In [152]:
test4(1,2,3,4,[22,34,34,55,25,2,2,2,13,12] , 'string' , 1234 , 'popat lal')

[[22, 34, 34, 55, 25, 2, 2, 2, 13, 12]]

In [155]:
# let's pass couple of more list here 
test4(1,2,3,4,[22,23,24,34,65,45,34,23], 'krihs' ,'rohan' , [1,2,3,3] , [22,23,24])

[[22, 23, 24, 34, 65, 45, 34, 23], [1, 2, 3, 3], [22, 23, 24]]

In [159]:
# we have to pass a key and value pair # kwargs --->> keywords argument 
def test5(**kwargs):
    return kwargs

In [162]:
test5() # tis will give us a simple dictionaries because there is nothing inside **kwargs

{}

In [161]:
type(test5())

dict

In [163]:
test5(a=34 ,b=99 , c=88, d=[1,2,3,5], e={12,'krish' , 'pwskills'}) # it's returning us the data in the form of dictionaries

{'a': 34, 'b': 99, 'c': 88, 'd': [1, 2, 3, 5], 'e': {12, 'krish', 'pwskills'}}

to pass multiple key and value arguments we pass the data as the kwargs

In [165]:
#lets extract the data of e

In [168]:
def test6(**kwargs):
    for i in kwargs.keys():
        if type(kwargs[i])== list:
            
            return  i , kwargs[i]
                                       # kwargs[i] is used for values alone i will extract keys thats why we used kwags[i]

In [169]:
test6(a=34 ,b=99 , c=88, d=[1,2,3,5], e={12,'krish' , 'pwskills'})

('d', [1, 2, 3, 5])

In [170]:
# kwargs is also not a keyword we can use any name

In [171]:
def test7(*args , **kwargs):
    return args , kwargs 
                              #it means it will take n number of inputs and n no of dict inputs

In [172]:
test7(1,2,3 , a =98 , b = 90 , c = 56)

((1, 2, 3), {'a': 98, 'b': 90, 'c': 56})

# Generator functions

In [177]:
range(1,10) # it is not giiving us any data unless we do iteration in for loop

range(1, 10)

In [180]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [181]:
l=[1,2,3,2,3,55,45,35,22,12,12,22,2,3,'pwskills' , 'sudh']

In [182]:
def test1(a):
    n=[]
    for i in a:
        if type(i) == int:
            n.append(i)
    return n

In [183]:
test1(l) # it will try to take input as a list and internally try to prepare a list of int

[1, 2, 3, 2, 3, 55, 45, 35, 22, 12, 12, 22, 2, 3]

In [184]:
# if we have a lot of no(millions and trillion) it will take much more time to iterate infinite time 
# let's learn to do it in an easy way

In [186]:
# alternative is range function but it is not giving us the data ..test1() is giving us data by iteration one by one

for function is i or test1() function is generating the number one by one only and giving us the data it is not keeping our records of millions and trillions of data but it is just remebering the last int or element and then based on it providing the very next element

In [187]:
# let's create a range kind of  a function through the keyword yield

fibonacci series:  where the next element is the sum of previoud two elments 
 

0 1 1 2 3 5 8 13 21 34 55

 here system  don't remember the previous data and giving us data one data and time and then forget about the previous data and then give us the nect element and same process goes on

In [188]:
#let's write a logic for fibonacci series : with generator function

In [189]:
# one of the generator function is range itself let's see another

In [191]:
def test_fib(n):
    a,b = 0,1
    for i in range(n):   # it will iterate n times 
        yield a
        a,b = b , a+b

In [193]:
test_fib(10) # we have made a generator function

In [194]:
# calling the genearator function

In [195]:
for i in test_fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

# Lambda Function

In [1]:
# usage of lambda fuction
# let's say we need to perform a function which will take two input and then want to convert it into the power

In [2]:
n = 3 
p=2

In [3]:
# we need to pass here a function in which we can access the p power of n 
# if we write an external function 
def test(n,p):
    return n**p

In [4]:
test(2,3)

8

In [5]:
test(9,125)

190683748116796615589766511371277507701260426349148337437043654910886245033973163156381027646240890976422037778530726249

In [6]:
# now we can write the same function but in a different way 
# lambda or anonymus function 
lambda n,p : n**p # now this will become the lambda function

In [7]:
#the lambda function doesn't have any name it's a function without any  name so we must have to assign a variable here 
a = lambda n,p : n**p

In [8]:
# how to use lambda function
a(2,3)

8

In [9]:
a(9,9)

387420489

In [10]:
a(9,4)

6561

In [11]:
add = lambda a , b , c:a+b+c # a,b,c are our parameters or arguments 
# this function also known as short hand function

In [12]:
add(9,9,9)

27

basically we can make full fletched define function or we can use one liner lambda function it's upto our wish ..

In [13]:
# function to convert celsius into the ferhanite 
c_to_f = lambda c:9/5 * c +32

In [14]:
c_to_f(32)

89.6

In [17]:
max_two = lambda x,y : x if x>y else y

In [18]:
max_two(99,9)

99

In [19]:
s = 'pwskills'
l = lambda y: len(y)

In [20]:
l(s)

8

# Map Reduce and Filter Function

In [2]:
l = [1,2,3,4,5]

In [3]:
# let's do a square of each and every element in the list and give a list as outcome 
def test1(a):
    l1 = []
    for i in a:
        l1.append(i**2)
    return l1

In [4]:
test1(l)

[1, 4, 9, 16, 25]

let's do the above task with one single function ---->>>> Map function , Reudce and Filter function

In [5]:
def sq(x):               #sq is the name of function
    return x**2

In [6]:
map(sq ,l ) # we give the define function here and give the iterable l on which we need to perform the function ..
# this function here give us the mapper object 
# map function takes two arguments 1 is test and other 1 is iterables

In [7]:
list(map(sq, l))

[1, 4, 9, 16, 25]

In [8]:
# iterables are those data strcture in which we can do iteration by using loops

In [9]:
# we can pass lambda function in map too 
list(map(lambda x : x **2 , l))

[1, 4, 9, 16, 25]

In [10]:
# another example
list(map(lambda x : x + 10 , l))

[11, 12, 13, 14, 15]

In [12]:
list(map(lambda x : str(x), l))

['1', '2', '3', '4', '5']

In [13]:
l1=[1,2,3,4,5]
l2 = [6,7,8,9,10]

In [14]:
list(map(lambda x,y : x+y , l1,l2))

[7, 9, 11, 13, 15]

In [18]:
f = lambda l1,l2:l1+l2

In [19]:
# another method
list(map(f , l1,l2))

[7, 9, 11, 13, 15]

In [24]:
s = 'pwskills'
list(map(lambda x : x.split() , s))

[['p'], ['w'], ['s'], ['k'], ['i'], ['l'], ['l'], ['s']]

In [22]:
list(map(lambda x : x.upper() , s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

In [25]:
# map function just do maping of each and every item with given function

# Reduce

In [28]:
# by default reduce is not available in our python we have to import it 
from functools import reduce

In [31]:
l = [1,2,3,4,5,4]

In [33]:
# reduce function just reduce the iterable 
reduce(lambda x , y:x+y , l) # give us the submission of all the elements

19

In [35]:
# how it is giving me the result
# first it will take 1 and 2 as x and y from l then after their submission it take (1+2) as x and next element 3 as y .
# it does the same process again and again and return us the submission . 
# so it will keep of reducing the element and give us one single result

In [39]:
def add(x,y):
    return x+y

In [41]:
reduce(add , l)

19

In [42]:
reduce(lambda x,y,z:x+y+z , l) # not working telling us missing one parametere 
# why it is teeling us missing one parameter because

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [43]:
l

[1, 2, 3, 4, 5, 4]

In [44]:
# now we aree taking three parameters (x+y+z) = (1+2+3) = 6 which will be later considered as x then add 6+4+5 = x+y+z then for other process we dont have z

In [45]:
# no make another list which have z 
l = [1,2,3,4,5,6,6]

In [49]:
reduce(lambda x,y,z:x+y+z ,l)
# still not working 
# the reason is reduce is trying to collapse so it will always try to find next element 
# reduce function doesn't work for three elements

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [48]:
l

[1, 2, 3, 4, 5, 6, 6]

In [51]:
#let's give it an empty list
reduce(lambda x,y:x+y,[]) # not working

TypeError: reduce() of empty sequence with no initial value

In [54]:
# let's pass a single element list 
reduce(lambda x, y : x+y , [1]) # it will work for single element 
# and we can see there is no y present too , it's an exceptional case

1

In [55]:
# reduce function basically reduce krta hai 
reduce(lambda x , y : x* y , [1])

1

In [56]:
l = [1,2,3,4,5,4]

In [57]:
# let's find out the maximum of this particular list 
reduce(lambda x, y : x if x> y else y , l)

5

In [58]:
# how it is doing the comparison ?

In [59]:
# first it take 1 and 2 as x and y and choose which is greater no then b/w 2 and 3 and did this process for whole list

# filter function

filter funvtion can do filter based on some condition ...simple

In [60]:
l

[1, 2, 3, 4, 5, 4]

In [61]:
# let's filter out the even or the odd no out of the list

In [63]:
filter(lambda x :x%2 == 0 , l)

In [64]:
# calling the function 
list(filter(lambda x :x%2 == 0 , l))

[2, 4, 4]

In [65]:
list(filter(lambda x :x%2 != 0 , l))

[1, 3, 5]

In [66]:
l = [-1,-4,-5,2,4,6,7,-6,-7]

In [67]:
# can u pls give me neg no 
list(filter( lambda x : x<0 , l))

[-1, -4, -5, -6, -7]

In [69]:
# positive no 
list(filter( lambda x : x>0 , l))

[2, 4, 6, 7]

In [73]:
l = ['shudh' , 'pwkills' , 'kalra' , 'benglore' , 'krish']

In [74]:
# filter those string whose len is less than 6 
list(filter(lambda x : len(x)<6 , l))

['shudh', 'kalra', 'krish']

In [75]:
# filter those string whose len is greater  than 6 
list(filter(lambda x : len(x)>6 , l))

['pwkills', 'benglore']