# Day - 4 python Notes

# String And list

In [1]:
name = "Data sceince Masters "

In [2]:
name.swapcase()

'dATA SCEINCE mASTERS '

In [4]:
name.title() # every word first character will be capital letter

'Data Sceince Masters '

In [7]:
name.capitalize()

'Data sceince masters '

In [8]:
# Reversing a string 
name[::-1]

' sretsaM ecniecs ataD'

In [9]:
#another method 
reversed(name) # we are getting object stored at this specified memory location

In [10]:
' '.join(reversed(name))

'  s r e t s a M   e c n i e c s   a t a D'

In [11]:
'krish'.join("naik") # every character is getting concatinated

'nkrishakrishikrishk'

In [15]:
" ".join("a")

'a'

In [18]:
" ".join("ab") # first a is coming then this string which include only space is getting print and then b will printed

'a b'

In [19]:
' '.join(reversed(name)) # now this will reverse the string and then by having space each time print the string in reverse

'  s r e t s a M   e c n i e c s   a t a D'

In [21]:
' '.join("tbt")

't b t'

In [22]:
' '.join(" t , b , t")

'  t   ,   b   ,   t'

In [23]:
' '.join(reversed(name))

'  s r e t s a M   e c n i e c s   a t a D'

In [24]:
name = "pwskills"

In [25]:
' '.join(reversed(name))

's l l i k s w p'

In [26]:
' '.join(name)

'p w s k i l l s'

In [29]:
name = "data"

In [31]:
'pw skills '.join(reversed(name))

'apw skills tpw skills apw skills d'

In [33]:
reversed('ant') # by default it will give us string object 
# by typecasting it into list we can get it in the form of list

In [34]:
list(reversed('ant'))

['t', 'n', 'a']

In [35]:
str1='pw is a good company'

' skills '.join(str1)

'p skills w skills   skills i skills s skills   skills a skills   skills g skills o skills o skills d skills   skills c skills o skills m skills p skills a skills n skills y'

In [40]:
for i in list(reversed(name)):
    print(i , end= ',')

a,t,a,d,

In [41]:
name

'data'

In [42]:
# Removing characters from the end of the list

In [43]:
string_a = " pwskills "
# we want to remove these spaces let's say

In [48]:
string_a.strip("") # it is not removing any space because we don't mention any space here

' pwskills '

In [49]:
string_a.strip(' ') #to remove the strips (blank in the begining and in the end )

'pwskills'

just use shift + tab after strip it will tell what function it does

In [50]:
# .strip method removes the first and last whitespace

In [51]:
string_a.lstrip(" ") # leading whitespace removed # last one is not yet removed

'pwskills '

In [52]:
string_a.rstrip(" ") # remove the trailing space

' pwskills'

we can just remove the spaces with the string and either we can remove complete string but can not remoce any part of it as strings are non mutable

In [53]:
#replacing string  # we must give two parameteres for what string we want to replace with what string 
string_n = "Greeting to Pwskills"
string_n.replace("to" , 'from') # here it got replaced

'Greeting from Pwskills'

we can not change a character in the string but we can change a whole word ..

In [54]:
name = 'krish'
name = 'pw skills ' # here also whole word is getting chnaged with the other one

In [55]:
string_n

'Greeting to Pwskills'

In [59]:
string_n.replace('Greeting','Welcome') # it will replace the old string with a new one

'Welcome to Pwskills'

In [60]:
string_n.replace('P' , 'E') # it is not changing anything but returning a new copy

'Greeting to Ewskills'

In [61]:
string_n.replace('e' , 's')

'Grssting to Pwskills'

In [62]:
string_n ="Greeting to Pwskills"
var1 = string_n.replace("G" , "T")

In [63]:
var1

'Treeting to Pwskills'

In [64]:
print(id(string_n))
print(id(var1)) # both id are different

3183536200480
3183536201280

In [66]:
list_a = [1,2,3]
print(id(list_a))

3183495463296

In [68]:
list_a[0] = 4

In [69]:
print(id(list_a)) # loook the id is same here when we doing some mutation with the string

3183495463296

In [70]:
# so in the above case we are just making a new string

In [73]:
a='hello world '

In [74]:
m = a.replace("hello" , 'yello')

In [75]:
m

'yello world '

In [76]:
print(id(a))
print(id(m))

3183540257392
3183530152112

In [80]:
string_n = 'test@gmail.com'
var_a = string_n.replace('@' , ' ')

In [81]:
var_a

'test gmail.com'

In [82]:
'hello \n world'

'hello \n world'

In [86]:
'hello \tworld'.expandtabs() #\t stands for tabs.

'hello   world'

In [87]:
str1 = 'Welcome to Pwskills .welcome to dat cience masters'

In [88]:
str1.replace("dat" , "data")

'Welcome to Pwskills .welcome to data cience masters'

In [89]:
str1.replace("cience" , "science")

'Welcome to Pwskills .welcome to dat science masters'

In [90]:
str1

'Welcome to Pwskills .welcome to dat cience masters'

In [91]:
#also do in this way
str1.replace('dat' , 'data').replace('cience' , 'science')

'Welcome to Pwskills .welcome to data science masters'

In [92]:
# how to check wether a string is in upper case or not 
str1.isupper()

False

In [93]:
str1.islower()

False

In [95]:
str2 = 'DATA'
str2.isupper()

True

In [96]:
str2='data'
str2.islower()

True

In [97]:
str2.isspace()

False

In [98]:
str2 = 'd a t a '

In [100]:
str2.isspace()

False

In [104]:
str2 = '  data '

In [106]:
str2.isspace()

False

In [107]:
str2

'  data '

In [108]:
# isspace looks for whitespace string that means completely blank ....

In [109]:
" ".isspace()

True

In [113]:
if str1.isspace == True:
    print('fuck you')
else:
     print("it's ok ")

it's ok

In [115]:
if str1.isspace():
    print(Ttttt)

In [117]:
if " ".isspace():
    print('yyyyy')

yyyyy

In [118]:
str2 = "pwskills"

In [119]:
str2.endswith('s')

True

In [120]:
str2.endswith('5')

False

In [123]:
str2.startswith('p')

True

In [126]:
# check if all the characters in the string are the alpha numeric 
a = 'abcd12234'
a.isalnum()

True

In [127]:
## to count the no of  character in the strings

In [129]:
str2= 'pwskills'
count=0
for i in str2:
    count = count +1
print(count)

8

In [130]:
str2= 'pwskills'
count=0
for i in str2:
    count = count +1
    print(count)

1
2
3
4
5
6
7
8

In [131]:
len(str2)

8

In [132]:
for i in str2:
    print(i)

p
w
s
k
i
l
l
s

In [136]:
for i in range(len(str2)):
    print(str2[i])

p
w
s
k
i
l
l
s

In [137]:
range(len(str2))

range(0, 8)

In [138]:
for i in range(len(str2)):
    print( i , '=' , str2[i])

0 = p
1 = w
2 = s
3 = k
4 = i
5 = l
6 = l
7 = s

In [139]:
# we can use index to iterate string reverse direction 
for i in range(len(str2)-1,-1,-1):
    print(str2[i]) # last index to -1 index in reverse order

s
l
l
i
k
s
w
p

In [140]:
len(str2)-1

7

In [143]:
string = 'pwskills'
ch = len(string)-1
while ch>=0:
    print(string[ch])
    ch=ch-1

s
l
l
i
k
s
w
p

In [142]:
ch

7

In [144]:
string[7] , string[6] , string[5] , string[4] , string[3] , string[2]

('s', 'l', 'l', 'i', 'k', 's')

In [145]:
for i in range(len(string)):
    print(string[len(string)-(i+1)])

s
l
l
i
k
s
w
p

In [146]:
for i in range(len(string)):
    print(string[len(string)-(i+1)] , end = '')

sllikswp

In [147]:
name = "pwskills"
vowels = "AaEeIiOoUu"

In [148]:
ch

-1

In [149]:
for ch in name:
    print(ch)

p
w
s
k
i
l
l
s

In [150]:
for ch in name:
    if ch in vowels:
        print("{} is a vowel".format(ch))# to check if ch is available in vowels 
    else:
        print("{} is not a vowel".format(ch))

p is not a vowel
w is not a vowel
s is not a vowel
k is not a vowel
i is a vowel
l is not a vowel
l is not a vowel
s is not a vowel

# Lists

we must say an empty brackets are list ...

In [151]:
type([])

list

In [152]:
['krish' , 'naik' , 'rohan' , 'kalra']

['krish', 'naik', 'rohan', 'kalra']

In [153]:
list([1,2,3,4,5,6,7])

[1, 2, 3, 4, 5, 6, 7]

In [154]:
str1 = 'pwskills'
list(str1)

['p', 'w', 's', 'k', 'i', 'l', 'l', 's']

In [171]:
str1 = "pw skills data science masters"

In [156]:
list(str1.split(" "))

['pw', 'skills', 'data', 'science', 'masters', '']

In [159]:
str1.split(" ")  # return function of split inside string is list , it will return result into the list form

['pw', 'skills', 'data', 'science', 'masters', '']

In [173]:
lst1 =list(str1.split(" "))

In [164]:
lst1[0]

'pw'

In [174]:
lst1

['pw', 'skills', 'data', 'science', 'masters']

In [166]:
lst1[2] = 'Data'

In [176]:
lst1

['pw', 'skills', 'data', 'science', 'masters']

In [168]:
lst1[-2]

'masters'

In [177]:
lst1[::-2] # last element masters is coming then then the step size of -2(means every 2nd element )

['masters', 'data', 'pw']

In [178]:
# let's bring pw
lst1[-5::-2]

['pw']

In [179]:
lst1[-5]

'pw'

In [180]:
lst1

['pw', 'skills', 'data', 'science', 'masters']

In [181]:
lst1[-5:3:-2] #there is nothing overlapping

[]

In [182]:
lst1[-5:-3:-2]

[]

In [183]:
# concatenation operation 
lst1 + 1

TypeError: can only concatenate list (not "int") to list

In [184]:
lst1 + [" "]

['pw', 'skills', 'data', 'science', 'masters', ' ']

In [185]:
lst1 +["new element " , 3]

['pw', 'skills', 'data', 'science', 'masters', 'new element ', 3]

In [186]:
# if we make double bracket it will become the muti nested list 
lst1 + [["new elements" ,3]] # nested list = list inside list

['pw', 'skills', 'data', 'science', 'masters', ['new elements', 3, 4, 5]]

In [187]:
lst2 = lst1 + [["new elements" ,3]]

In [188]:
lst2

['pw', 'skills', 'data', 'science', 'masters', ['new elements', 3]]

In [189]:
# suppose we want to iterate the 'new elements'

In [190]:
lst2[-1]

['new elements', 3]

In [191]:
lst2[-1][0] # return type is string

'new elements'

In [192]:
lst1 * 2 # all the elements getting repeated two times

['pw',
 'skills',
 'data',
 'science',
 'masters',
 'pw',
 'skills',
 'data',
 'science',
 'masters']

when we do any operation and we are not assigning it to any variable like in the above cell then it knows as  not a inplace process

In [193]:
# check wether science is present in the list or not 
lst1

['pw', 'skills', 'data', 'science', 'masters']

In [196]:
for element in lst1:
    print(element)

pw
skills
data
science
masters

In [197]:
if 'science' in lst1:
    print('present')

present

In [201]:
for elements in lst1:
    if elements == 'science':
        
        print(elements)
        break

science

In [202]:
# check elements inside a list 
lst = [1,2,3,4]
4 in lst

True

In [203]:
lst = [1,2,3,4]
5 in lst

False

In [204]:
lst1 = ['zebra' , 'monkey' , 'donkey' , 'lion']
lst2 = [5,6,2,9,5,8,6]

In [205]:
print(max(lst1)) # it will go and see alphabetically (look with z ascii character )

zebra

In [206]:
max(lst2) # maximum value

9

In [207]:
min(lst2)

2

In [208]:
min(lst1)

'donkey'

In [210]:
# Append 
lst1 = [1,2,3,4,5,6]

In [211]:
# lst = [2,3,45,5]
# type(5.0) is float
# lst1[4] is a int
# 5.0 in lst is True
# the lst will check if the value of 5.0 is 5 is True

In [212]:
5.0 is 5

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Asus\AppData\Local\Temp\ipykernel_4180\1142485709.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5.0 is 5

False

In [213]:
5 ==5.0

True

In [214]:
1.999999999 in [2,4,5]

False

In [215]:
1.9999999999999999999 in [2,4,5]

True

In [216]:
# append basically add an value in the end of the list 
lst.append('ilu')

In [217]:
lst # so now the list is update and it is an inplace operation

[1, 2, 3, 4, 'ilu']

In [218]:
lst.append([1,2,3])

In [219]:
lst

[1, 2, 3, 4, 'ilu', [1, 2, 3]]

In [220]:
lst.remove([1,2,3]) # this will give us the multinested list

In [221]:
lst

[1, 2, 3, 4, 'ilu']

In [222]:
lst = ['zebra' , 'monkey' , 'donkey' , 'lion']
lst.pop() # we are not giving any index so it is removing from the last one

'lion'

In [223]:
lst # this is an inplace operation

['zebra', 'monkey', 'donkey']

In [224]:
# let's pop by giving index 
lst.pop(0)

'zebra'

In [225]:
lst

['monkey', 'donkey']

In [227]:
lst.append('zebra')

In [228]:
lst.append('lion')

In [229]:
lst

['monkey', 'donkey', 'zebra', 'lion']

In [230]:
lst.pop(1)

'donkey'

In [231]:
lst

['monkey', 'zebra', 'lion']

In [232]:
lst.append('donkey')

In [233]:
lst

['monkey', 'zebra', 'lion', 'donkey']

In [235]:
removed_element = lst.pop(1)

In [236]:
removed_element

'zebra'

In [237]:
lst[100]

IndexError: list index out of range

In [238]:
# Sorting and Reversed Method in list
new_list = ['q' , 'e' , 'f' , 's' , 't' , 'u']

In [239]:
new_list.sort() # by default it sort in ascending order

In [240]:
new_list

['e', 'f', 'q', 's', 't', 'u']

In [241]:
new_list.sort(reverse = True)

In [243]:
new_list

['u', 't', 's', 'q', 'f', 'e']

In [244]:
new_list.reverse()

In [245]:
new_list

['e', 'f', 'q', 's', 't', 'u']

In [246]:
# all the above operation are inplace

In [247]:
lst.append(['pw' , 'skiils'])

In [248]:
lst

['monkey', 'lion', 'donkey', ['pw', 'skiils']]

In [249]:
# how to add two element in the list 
lst

['monkey', 'lion', 'donkey', ['pw', 'skiils']]

In [252]:
lst.remove(['pw', 'skiils'])

In [253]:
lst

['monkey', 'lion', 'donkey']

In [255]:
lst.extend(['pw' , 'skills'])

In [256]:
lst

['monkey', 'lion', 'donkey', 'pw', 'skills']

In [259]:
lst.extend([1,2,3,4,5,6]) # add as much as element u want

In [258]:
lst

['monkey', 'lion', 'donkey', 'pw', 'skills', 1, 2, 3, 4, 5, 6]

# Nested list

In [260]:
lst1 = [1,2,3]
lst2 = [4,5,6]
lst3 = [7,8,9]
# make a list of lists to form a matrix
matrix = [lst1 , lst2 , lst3]

In [261]:
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [262]:
# how to pickup 6 value 
matrix[0]

[1, 2, 3]

In [263]:
matrix[1][2]

6

In [266]:
matrix[2][1:4]

[8, 9]

In [267]:
matrix[2][1:]

[8, 9]

In [268]:
matrix[:]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [270]:
matrix[0:3]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [271]:
matrix[0:3][0]

[1, 2, 3]

In [272]:
# how to fetch elements (1,4,7) # this will be done in arrays

In [276]:
# list comprehension 
[i for i in range(20)] # basically this means print i for i in range(20)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [279]:
# list comprehension 
# even numbers 
[i%2==0 else for i in range(20)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [282]:
ls = [i for i in range(100) if i%3==0]

In [283]:
ls

[0,
 3,
 6,
 9,
 12,
 15,
 18,
 21,
 24,
 27,
 30,
 33,
 36,
 39,
 42,
 45,
 48,
 51,
 54,
 57,
 60,
 63,
 66,
 69,
 72,
 75,
 78,
 81,
 84,
 87,
 90,
 93,
 96,
 99]

In [285]:
[i if i%2==0 else 'odd' for i in range(20)]

[0,
 'odd',
 2,
 'odd',
 4,
 'odd',
 6,
 'odd',
 8,
 'odd',
 10,
 'odd',
 12,
 'odd',
 14,
 'odd',
 16,
 'odd',
 18,
 'odd']

In [296]:
gen = (i for i in range(20))
print(list(gen))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [297]:
# [i for  i in range(20)]
# this is like 
# for i in range
# print(i)
# and list comprehension just pass it as a list

In [299]:
ran = range(20)
for i in ran:
    print(i) #(i for i in range(20)) this is the same statement

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [303]:
[ i if i%2==0  else 'odd' for i in range(0,20)]# print i if i%2==0 else odd for i in range(0.20)

[0,
 'odd',
 2,
 'odd',
 4,
 'odd',
 6,
 'odd',
 8,
 'odd',
 10,
 'odd',
 12,
 'odd',
 14,
 'odd',
 16,
 'odd',
 18,
 'odd']

In [308]:
lst=[1,2,3,4,5,6,7,8]
# find sum of even numbers and odd numbers 
even_sum =0
odd_sum =0
for i in lst:
    if i%2 ==0:
        even_sum +=i
    else:
        odd_sum +=i
print(even_sum)
print(odd_sum)

20
16

In [309]:
# let's do it with list comprehension 
[num for num in lst]

[1, 2, 3, 4, 5, 6, 7, 8]

In [310]:
[num for num in lst if num%2==0]

[2, 4, 6, 8]

In [311]:
even_sum = sum([num for num in lst if num%2==0])

In [312]:
even_sum

20

In [314]:
odd_sum = sum([num for num in lst if num%2!=0])

In [315]:
odd_sum

16

In [316]:
lst = [1,2,3,4,5,6,7,8,9] # find the square of all numbers 
[num**2 for num in lst ]

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [318]:
numbers = [-2 , -1 , 0, 1,2, 3, 4]
#craete a list of only the positive number from the given list 
[num for num in numbers if num>0]

[1, 2, 3, 4]

In [320]:
# create a list of of only the first letter of words in the list 
words = ['apple' , 'banana' , 'cherry' , 'date']
[word[0] for word in words ]

['a', 'b', 'c', 'd']

In [321]:
# how to covert temprature in diff forms 
# formula 
#formula = (9/5) * temprature + 32

In [322]:
# convert a list of temprature from celsius to fehrenheit 
celsius_temprature = [0,10,20,30,40,50]

In [324]:
[temp*(9/5)+32 for temp in celsius_temprature]

[32.0, 50.0, 68.0, 86.0, 104.0, 122.0]

In [325]:
# Flatten a list of list in single list 
lists = [[1,2,3] , [4,5,6] , [7,8,9]]

In [326]:
[num for sublist in lists for num in sublist]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [327]:
# Assignment 
# do using both code and list comprehension 
#create a list of only the prime number from the given list 
numbers = [1,2,3,4,5,6,7,8,9,10]

In [328]:
#create a list of all the possible combination of 2 elements from a list 
numbers = [1,2,3,4,5]

In [331]:
lists = [[1,2,3] , [4,5,6] , [7,8,9]] # first of all we have to iterate through each list inside lists 
# [for i in lists] # it will choose all the three lists 
# then [j in i] # j will iterate each elements from the lists and print j 
[j for i in lists for j in i]

[1, 2, 3, 4, 5, 6, 7, 8, 9]