# Day-3 Python notes

## 4.1 Operators

* Logical
* Equality 
* Comparision
* Arithmetic
* Bitwise

## Logical Operators
1. And
2. or
3. not

we use logical operators in the comparison statement and the condition statement

In [1]:
True and True

True

In [2]:
True or False

True

In [3]:
False or True

True

In [4]:
False and True

False

In [5]:
not False

True

In [6]:
False and not True

False

In [7]:
# Lets define two variables having boolean values True and False-
START = True
STOP = False

# Print the values as it is
print(f"Defined value of START = {START}")
print(f"Defined value of STOP = {STOP} \n")

# if can also be written as - 
print(f"Defined value of START = {START}")
print(f"Value of STOP by negating START= {not START} \n")

# alternatively -
print(f"Value of START by negating STOP = {not STOP}")
print(f"Defined value of STOP = {STOP} \n")

Defined value of START = True
Defined value of STOP = False

Defined value of START = True
Value of STOP by negating START= False

Value of START by negating STOP = True
Defined value of STOP = False

In [8]:
not bool(0)

True

In [9]:
not int(bool(0))

True

In [10]:
int(bool(0))

0

In [11]:
not 0

True

In [13]:
not 1

False

In [14]:
START = 1
STOP = 0

# Print the values as it is
print(f"Defined value of START = {START}")
print(f"Defined value of STOP = {STOP} \n")

# if can also be written as - 
print(f"Defined value of START = {START}")
print(f"Value of STOP by negating START= {int(not START)} \n")

# alternatively -
print(f"Value of START by negating STOP = {int(not STOP)}")
print(f"Defined value of STOP = {STOP} \n")

Defined value of START = 1
Defined value of STOP = 0

Defined value of START = 1
Value of STOP by negating START= 0

Value of START by negating STOP = 1
Defined value of STOP = 0

In [15]:
not 2  # any number other than 0 will be considered as True only .

False

In [16]:
not -1# neg no will also be considered as TRue

False

In [17]:
zero = 0
one = 1

print(f"boolean value of no. {zero} is {bool(zero)}")
print(f"boolean value of no. {one} is {bool(one)}")
print(f"negation of {zero} is {not zero} and negation of {one} is {not one}")
print("\n#------------------------#\n")

boolean value of no. 0 is False
boolean value of no. 1 is True
negation of 0 is True and negation of 1 is False

#------------------------#

In [18]:
Some_negative_integer = -5
Some_positive_integer = 5

print(f"boolean value of no. {Some_negative_integer} is {bool(Some_negative_integer)}")
print(f"boolean value of no. {Some_positive_integer} is {bool(Some_positive_integer)}")
print(f"negation of {Some_negative_integer} is {not Some_negative_integer} \
and negation of {Some_positive_integer} is {not Some_positive_integer}")

print("\n#------------------------#\n")

boolean value of no. -5 is True
boolean value of no. 5 is True
negation of -5 is False and negation of 5 is False

#------------------------#

In [19]:
Some_negative_float = -5.99
Some_positive_float = 5.6

print(f"boolean value of no. {Some_negative_float} is {bool(Some_negative_float)}")
print(f"boolean value of no. {Some_positive_float} is {bool(Some_positive_float)}")
print(f"negation of {Some_negative_float} is {not Some_negative_float} \
and negation of {Some_positive_float} is {not Some_positive_float}")

boolean value of no. -5.99 is True
boolean value of no. 5.6 is True
negation of -5.99 is False and negation of 5.6 is False

# logical and

In [20]:
VEGETABLES = True
SALT = False
DISH = VEGETABLES and SALT

print(f"Dish contains VEGETABLES: {VEGETABLES}")
print(f"Dish contains SALT: {SALT}")
print(f"Hence dish prepared was good: {DISH}\n")

Dish contains VEGETABLES: True
Dish contains SALT: False
Hence dish prepared was good: False

In [21]:
True * False

0

In [22]:
False * True

0

In [23]:
True * True

1

In [26]:
not(False) *  True # bodmas rule is applied here first the multiplication of False and True will happen = 0 and then not 0 =True

True

In [27]:
False * (not(False))

0

In [30]:
(not(False)) * True # here first internally bracket work (not(False)) = True , then True * True = 1

1

In [29]:
False * not(False) # not working

SyntaxError: invalid syntax (930031231.py, line 1)

In [31]:
not(True) * False # True * False = 0 and not 0 = True

True

In [34]:
 # if we remove the bracket it will work as
not True * False # thats why first mul b/w True and False will happen then not will be applied

True

In [33]:
(not(True)) * True # first precedence operation (bodmas) (not(True)) = False , false * True = 0

0

In [36]:
not(False) * False  == True

True

In [37]:
#  not(False ) will be considered as not False

In [38]:
lst = [1,2,3,5,6,6]

In [39]:
lst_a = [1,2,3,4]
lst_b=[1,2,3,4]

In [40]:
lst_a == lst_b

True

### 4.1.2 Equality Operators

Following operations are present in python for equlity check operation-

|Operators|Meaning|
|-|-|
|**is**|***a is b*** returns true if variable/identifiers a and b *points* to the *same object*|
|**is not**|***a is not b*** returns true if variable/identifiers a and b *points* to the *different object*|
|**==**|***a == b*** returns true if variable/identifiers a and b has same value|
|**!=**|***a != b*** returns true if variable/identifiers a and b has different value|

In [41]:
lst_a is lst_b  # it will only become True if the id or memory of both will be same ....

False

In [42]:
lst_a is not lst_b

True

In [43]:
id(lst_a)

1713214502464

In [44]:
id(lst_b)

1713214659584

In [45]:
 # both have different memory adress

In [46]:
lst_a == lst_b # elements are same  # it checks the values inside the variable

True

In [47]:
lst_a != lst_b # elements are same

False

In [49]:
print(id(lst_a))
print(id(lst_b))

1713214502464
1713214659584

In [51]:
a=2
b=2
print(id(a))
print(id(b))

1713130924368
1713130924368

In [52]:
# why the above id are same in this statement

In [53]:
str1='rohan'
str2='rohan'
print(id(str1))
print(id(str2))

1713214843248
1713214843248

In [54]:
str1='rohan'
str2='rohan1'
print(id(str1))
print(id(str2))

1713214843248
1713214841136

In [56]:
lst_a[0]

1

In [57]:
lst_a[0] = 10

In [58]:
lst_a

[10, 2, 3, 4]

In [59]:
# so the id thing depends on mutublity if we can edit the list then the id of both the list are diff
# but in the case of string string are immutable so the id of diff string holding the same data is same

In [60]:
str1[0]

'r'

In [62]:
str1[0] = m # this is the main reason ..

NameError: name 'm' is not defined

In [63]:
# in a basket we can change the different fruits but we can not replace a piece of apple with aother piece of apple ...

# Comparison operation

|Operation|Meaning|
|:-:|:-:|
| **<** |less than|
| **<=** |less than or equal to|
| **>** |greater than|
| **>=** |greater than or equal to|

In [66]:
maxium_speed_of_bike = 150
max_speed_of_car = 200

print(f"bike is faster than car: {maxium_speed_of_bike >= max_speed_of_car}")

bike is faster than car: False

In [67]:
maxium_speed_of_bike = 200
max_speed_of_car = 200

print(f"bike is faster than car: {maxium_speed_of_bike > max_speed_of_car}")

bike is faster than car: False

## Arithmethic Operations
|Operation|Meaning|
|:-:|:-:|
| **+** |addition|
| **-** |subtraction|
| **\*** |multiplication|
| **/** |true division|
| **//** |integer division|
| **%** |the modulo operator|

In [69]:
a=25
b=101

In [70]:
b-a

76

In [71]:
a+b

126

In [73]:
a*b

2525

In [74]:
a//b #the divider

0

In [75]:
b//a # the divider

4

In [76]:
a%b# % = modulus

25

In [77]:
b%a #display the remainder

1

### Bitwise Operators
|Operation|Meaning|
|:-:|:-:|
| **∼** |bitwise complement (prefix unary operator)|
| **&** |bitwise and|
| **\|** |bitwise or|
| **^** |bitwise exclusive-or|
| **<<** |shift bits left, filling in with zeros|
| **>>** |shift bits right, filling in with sign bit|

In [78]:
#bitwise compliment 
var = 10
bin(10) # 0b stands for binary

'0b1010'

bitwise complement(prefix unary operator)

In [79]:
~var #why we are getting -11 is because

-11

In [80]:
var =120
bin(var)

'0b1111000'

In [81]:
~var

-121

In [6]:
var=120

In [7]:
~var

-121

In [8]:
 # & just work on the binary value of no is the form of 0 and 1 
a= 4
b=5
a&b

4

In [9]:
a|b # or works same as works in True and False case

5

In [10]:
a^b

1

In [15]:
a<<b

128

In [16]:
var=10 #divide by 2 each time 
var>>1

5

In [17]:
var = 10 # mul by 2 each time
var<<1

20

# let's start with first data structure --->>

# String

## 6.2.1 String manipulation

Strings are used to record the text information such as name. In Python, Strings act as “Sequence” which means Python tracks every element in the String as a sequence. This is one of the important features of the Python language.

For example, Python understands the string "hello' to be a sequence of letters in a specific order which means the indexing technique to grab particular letters (like first letter or the last letter).

As we now know string contains set of characters, let's check how can we manipulate and take subset of string, how can we access charcters out of string and do some manipulation on strings.

Subset of string can be access by using slice operator [] or [:](String index starts with 0 and -1 at the end). Lets look at the example.

In [18]:
'rohan'
"welcome to data science master "

'welcome to data science master '

In [20]:
str1 = "welcome to data science masters "

In [21]:
type(str1)

str

In [22]:
str1[0]

'w'

In [23]:
str1[0] = my # strings are immutable

NameError: name 'my' is not defined

In [24]:
#we can change the entire strings with something else 
str1 = "krish naik "

In [25]:
str1

'krish naik '

strings are not mutable but lists are mutable 
we can iterate through the strings by using for and while loop

In [26]:
# use str1. and then press tab to get all the function we can also use 
dir(str1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [27]:
string = "pw skills data science"

In [29]:
string[5] # index start from 0 and space is also counted

'i'

In [32]:
# slice operation 
string[5:] # start from the 5th index and go till the last

'ills data science'

In [33]:
string[5:11] # it will exclude the 11th index item or element

'ills d'

In [34]:
string

'pw skills data science'

In [35]:
string[-1] # pick up the last element

'e'

In [36]:
string

'pw skills data science'

In [37]:
string[-1:] # starting from -3 and upto the end

'e'

In [38]:
string[-3:] #starting from -3 and upto the end

'nce'

In [39]:
string[-7:]

'science'

In [41]:
string[-5:2] # it will not work

''

In [42]:
string[2:-6]

' skills data s'

In [43]:
string

'pw skills data science'

In [44]:
string

'pw skills data science'

In [45]:
string[-5:12]

''

In [46]:
string[2:-15]

' skil'

In [47]:
string

'pw skills data science'

In [48]:
string[:-1]

'pw skills data scienc'

In [49]:
string[-5:-11]

''

In [50]:
string[:]

'pw skills data science'

In [51]:
name = "karthik"

In [52]:
name

'karthik'

In [53]:
name[-5:4]

'rt'

In [54]:
string

'pw skills data science'

In [55]:
string[-18:11]

'kills d'

In [56]:
string[-7:5]

''

In [59]:
string[-7:-2]

'scien'

In [62]:
#reverse the string
string[::-1] # :: (double colon used for stepsize)

'ecneics atad slliks wp'

In [63]:
string[::-2] # from backward it will take every 2nd element

'enisaa lisw'

In [64]:
string

'pw skills data science'

In [65]:
string[::2]

'p klsdt cec'

In [66]:
string

'pw skills data science'

In [67]:
string[0:5]

'pw sk'

In [68]:
string

'pw skills data science'

In [69]:
string[0:5:-1]

''

In [70]:
string[-1:-14:-2]

'enisaa '

In [71]:
string

'pw skills data science'

In [72]:
name = "krish"
name[::-1]

'hsirk'

In [74]:
name[::-2]

'hik'

In [75]:
name[4::-2]

'hik'

In [76]:
name

'krish'

In [77]:
name[4:]

'h'

In [79]:
name[2::-1] #this will choose the element and then starting step sizing indexing

'irk'

In [80]:
name[3:1:-1]

'si'

In [81]:
name

'krish'

In [82]:
name[3:1]

''

In [83]:
course = "data science masters"

In [84]:
course[5:12]

'science'

In [88]:
course[-9:-16:-1]

'ecneics'

In [89]:
course[11:4:-1]

'ecneics'

# concatenation

In [93]:
course+ " course"

'data science masters course'

In [94]:
print("hello" + " world")

hello world

In [95]:
course * 5

'data science mastersdata science mastersdata science mastersdata science mastersdata science masters'

In [97]:
"course " * 5

'course course course course course '

In [98]:
len(course)

20

In [100]:
course.find('s')

5

In [101]:
# find function 
course

'data science masters'

In [103]:
course.find('r')

18

In [106]:
course.find("a" ,6,10) # if somehting is not presented then the ouput will be -1

-1

In [105]:
course

'data science masters'

In [107]:
## string count function 
course.count("s")

3

In [108]:
course

'data science masters'

In [109]:
course.count('r')

1

In [111]:
course.count(" ") # there are two spaces out there in string course

2

In [112]:
course.count("") # total no of elements

21

In [113]:
course

'data science masters'

In [116]:
course.find('a' ,-9 , -1)

14

In [115]:
course

'data science masters'

In [122]:
# string split function 
course.split(" ") # finding the strings between the space

['data', 'science', 'masters']

In [123]:
course.split('s')

['data ', 'cience ma', 'ter', '']

In [126]:
course.count("")

21

In [127]:
len(course)

20

In [128]:
course

'data science masters'

In [130]:
course.split('s') # split will do it for every s

['data ', 'cience ma', 'ter', '']

In [131]:
course

'data science masters'

In [133]:
course.partition('s') # partition will do it for only one s

('data ', 's', 'cience masters')

In [134]:
# string upper and lower case

In [135]:
course.upper()

'DATA SCIENCE MASTERS'

In [136]:
course.lower()

'data science masters'

In [138]:
course.swapcase()

'DATA SCIENCE MASTERS'

In [139]:
course

'data science masters'

In [140]:
course1 = "Data Science Course"

In [141]:
course1.swapcase()

'dATA sCIENCE cOURSE'

In [142]:
course1.title()

'Data Science Course'

In [144]:
course.title()

'Data Science Masters'