# Python Day 5 notes

# Tuples

tuples are different from the lists the data stored in the tuples is not mutable cannot be edit or muted . tuple hold the data in ()

In [1]:
t=()

In [2]:
t

()

In [3]:
type(t)

tuple

In [4]:
print(t)

()

In [5]:
t1 = (1,2,3,4,45.45,67.77)

In [6]:
t1

(1, 2, 3, 4, 45.45, 67.77)

In [7]:
# we can gather the info from the tuple but can not edit it
t1[0]

1

In [8]:
t1[0] = 'qwe'

TypeError: 'tuple' object does not support item assignment

Tuple object doesn't support item assignment

In [9]:
t2 = (1,2,3,4,'rohan' , True , False)

In [10]:
type(t2)

tuple

In [11]:
t2

(1, 2, 3, 4, 'rohan', True, False)

we can save the same kind of information in both tuples and the lists ....

then what is the difference between them

In [12]:
l = [12,33,23,24]
t = (12,33,23,24)

In [13]:
type(l)

list

In [14]:
type(t)

tuple

we can extract the data from tuple 
but cannot change replaace or edit it .....

index of tuples are also same as of lists

In [15]:
t[3]

24

In [16]:
t[::-1] # reverse of tuple

(24, 23, 33, 12)

In [17]:
t1 = (1,2,3,'kridsh' , 2+7j , True)

In [18]:
t1

(1, 2, 3, 'kridsh', (2+7j), True)

In [19]:
t1[::-1]

(True, (2+7j), 'kridsh', 3, 2, 1)

In [20]:
t2 = t1[::-1]

In [21]:
t2

(True, (2+7j), 'kridsh', 3, 2, 1)

In [22]:
t1

(1, 2, 3, 'kridsh', (2+7j), True)

In [23]:
# we can do slicing and indexing both in the tuples tooo 
t1[0:4]

(1, 2, 3, 'kridsh')

In [24]:
t1[0:5:2]

(1, 3, (2+7j))

indexing and slicing wise there are no diff in tuples and lists ...

In [25]:
t1

(1, 2, 3, 'kridsh', (2+7j), True)

In [26]:
t1[-1:-5]

()

In [27]:
t1[-5:-1]

(2, 3, 'kridsh', (2+7j))

In [30]:
# only count and index two function are present in Tuples 
t1.count(1)

2

In [31]:
t1.count(0)

0

In [32]:
t1.count(True)

2

In [33]:
t1.count(1)

2

In [34]:
t1

(1, 2, 3, 'kridsh', (2+7j), True)

In [35]:
t1.count(3)

1

In [36]:
t1

(1, 2, 3, 'kridsh', (2+7j), True)

In [38]:
t1.count(1)

2

In [39]:
t2 = (9,0,1,2,3,45,55,23,24,True,False , 89)

In [40]:
t2.count(9)

1

In [41]:
t2.count(1)

2

In [43]:
t2.count(24)

1

In [44]:
t2.count(45)

1

In [55]:
t2

(9, 0, 1, 2, 3, 45, 55, 23, 24, True, False, 89)

In [46]:
t2.index(3)

4

In [47]:
t2.index(24)

8

In [51]:
t2.index(True) # system will store value of 1 = True and viceverca

2

In [53]:
t2.index(False) # system will also take value of 0 = False

1

In [58]:
t1.count(1) # becoxz of this True system shows us the count of 1 as 2 this True will be considered as 1

2

In [57]:
t1

(1, 2, 3, 'kridsh', (2+7j), True)

# system will never be wrong u have to check carefully each and every detail ....

In [59]:
t1

(1, 2, 3, 'kridsh', (2+7j), True)

In [60]:
l

[12, 33, 23, 24]

In [61]:
# the major difference between tuples and list is that tuples are immutable and list are mutable ...

In [62]:
#e.g
t1[0] = 12

TypeError: 'tuple' object does not support item assignment

In [63]:
l[0] = 999

In [64]:
l

[999, 33, 23, 24]

In [65]:
t1

(1, 2, 3, 'kridsh', (2+7j), True)

In [66]:
# will i be able to iterate through this tuple with for loop ????????
for i in t1:
    print(i)  # yes we are able to iterate through tuple

1
2
3
kridsh
(2+7j)
True

In [68]:
for i in t1:
    print(i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
kridsh <class 'str'>
(2+7j) <class 'complex'>
True <class 'bool'>

In [69]:
t2 = (1,2,3,4,5,6,7,8)

In [70]:
t2 * 3

(1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8)

In [71]:
t2

(1, 2, 3, 4, 5, 6, 7, 8)

In [72]:
max(t2)

8

In [73]:
min(t2)

1

Tuples basically follows ummutability cocepts where it is not going to allow to chnage any element at a particular index

In [75]:
t1.append('krishthekarma')

AttributeError: 'tuple' object has no attribute 'append'

In [76]:
# Where we are going to use these type of collection ...

we use tuples where we don't want anyone to do any changes to our data ....

In [77]:
# let's see how we can keep tuple inside tuple 
t1 = (1,2,3,4)
t2=(4,5,6,7)

In [78]:
# if we would like to keep both the tuples together how we will do ??
t3 = (t1 , t2)

In [79]:
t3

((1, 2, 3, 4), (4, 5, 6, 7))

even we are able to keep tuples inside list and list inside the tuples

That is also possible

In [80]:
t4 = ((1,2,3,5) , [9,4,5,72])

In [81]:
t4

((1, 2, 3, 5), [9, 4, 5, 72])

In [82]:
# let's delete this tuple 
del(t4)

In [84]:
t4

NameError: name 't4' is not defined

In [85]:
# del is a inbuilt function......

In [86]:
t1

(1, 2, 3, 4)

In [88]:
len(t1)

4

In [89]:
# let's check any element in tuple 
2 in t1

True

In [90]:
'krish' in t1

False

# SET

In [91]:
s={}

In [92]:
type(s) #it shows us that it is a dictionary

dict

In [94]:
# now let's add some elements in s 
s = {1,2,3,4}

In [95]:
type(s) # now the s is set now

set

In [96]:
# how set is different from list and tuples

In [97]:
s2={1,1,1,2,2,2,3,3,4,4,5,5,5,6,6}

In [98]:
# let's call s2
s2 # it will remove all the duplicaates 
#set is the collection which will be able to store elements but it will always try to store only unique and single value ...

{1, 2, 3, 4, 5, 6}

In [99]:
# can we convert a set into the list 
s3 = list(s2)

In [100]:
s3

[1, 2, 3, 4, 5, 6]

In [101]:
# we can also convert the entire set into the tuple 
tuple(s2)

(1, 2, 3, 4, 5, 6)

In [102]:
lst = [1,1,1,1,3,3,4,45,4,2,4,6,6,6,4,4,4,77,77,77,78,88]

In [103]:
set1 = set(lst)

In [104]:
set1

{1, 2, 3, 4, 6, 45, 77, 78, 88}

In [105]:
s4 = {1,2,3,4,5,5,[1,2,3,4,5]}

TypeError: unhashable type: 'list'

In [ ]:
# list is not being stored because list are mutable objects .

# 
When you store a list into a set, each element of the list is considered an individual item in the set. Sets in Python are implemented using a hash table, which requires that the elements being stored are hashable.

A hashable object is one that has a hash value that remains constant throughout its lifetime and can be used to determine its position in a hash table. Immutable data types like integers, floats, strings, and tuples are hashable because their values cannot change after they are created.

In [108]:
set1[0] = 1

TypeError: 'set' object does not support item assignment

In [106]:
s4 = {1,2,3,4,5,5,(1,2,3,4,5)}

In [107]:
s4

{(1, 2, 3, 4, 5), 1, 2, 3, 4, 5}

In [109]:
set1.add(2)

In [110]:
set1

{1, 2, 3, 4, 6, 45, 77, 78, 88}

In [111]:
set1.add(3)

In [112]:
set1

{1, 2, 3, 4, 6, 45, 77, 78, 88}

In [113]:
set1[0] = 1

TypeError: 'set' object does not support item assignment

In [114]:
set2 = {'Rohan' , 'rohan'}

In [115]:
set2

{'Rohan', 'rohan'}

In [117]:
set2.add('krish')

In [118]:
set2

{'Rohan', 'krish', 'rohan'}

In [119]:
s7 = {'rohan' , 'rohan' ,'gitu' , 'gitu' , 'akash' , 'akash'}

In [120]:
s7

{'akash', 'gitu', 'rohan'}

In [122]:
s7[0] # we can't do indexing and slicing in the set ..

TypeError: 'set' object is not subscriptable

In [123]:
s7[::-1]

TypeError: 'set' object is not subscriptable

system is not holding the information of sets in the sequence manner that's why it is not allowing us to do indexing and slicing

we cannot subscribe this information here

In [124]:
s7

{'akash', 'gitu', 'rohan'}

In [126]:
for i in s7:
    print(i) # we can iterate through the for loop inside the set

gitu
rohan
akash

In [127]:
s6 = {1,22,11,33,22,33,11,1,2,3,4,4,4,5,5,5}

In [128]:
s6

{1, 2, 3, 4, 5, 11, 22, 33}

In [133]:
# now lets check the functionn we can do with sets
s6.add(99) # use s6.+tab to know all the function

In [134]:
s6.add(99)

In [135]:
s6

{1, 2, 3, 4, 5, 11, 22, 33, 99}

In [136]:
s6.add(2)

In [137]:
s6 # 2 is not added as it is available here already sets work with uniqueness

{1, 2, 3, 4, 5, 11, 22, 33, 99}

In [138]:
len(s6)

9

In [139]:
s6.pop() # it has pop up one of the elements not the last one because in sets elements are stored with the hashtag

1

In [140]:
s6 # it will not poopping up the element in order

{2, 3, 4, 5, 11, 22, 33, 99}

In [141]:
s6.pop()

2

In [142]:
s6.pop()

3

In [143]:
s6

{4, 5, 11, 22, 33, 99}

In [144]:
s6.pop()

4

In [145]:
# pop function will work on the hashing it created it will always start with lower hash and then go further to the upper hash

In [146]:
s6

{5, 11, 22, 33, 99}

In [147]:
s6.pop(11) # inside the bracket we give the argument and it will not take any argument

TypeError: set.pop() takes no arguments (1 given)

In [148]:
s6.clear()

In [149]:
s6

set()

In [150]:
s6.pop()

KeyError: 'pop from an empty set'

In [151]:
s8 = {2,2,3,4,6,6,33,223,55,23,556,32,44,3234}
s9 = {1,2,3,4,5,6}

In [153]:
s8.difference(s9) # shows all the different element after comparing the s8 with s9

{23, 32, 33, 44, 55, 223, 556, 3234}

In [154]:
s9.difference(s8)

{1, 5}

# Dictionaries

In [1]:
d = {}

In [2]:
type(d)

dict

set we will give the flat element but in dictionaries things work in a different way we say ...

in dict we will store the data in the key and value pair

In [3]:
d1 = {'key': 'value'}

In [4]:
d1

{'key': 'value'}

In [5]:
dic1 = {'name': 'krish' , 'email_id':'rohankalra2356@gmail.com' , 'class': 'first' , 'type': 'God'}

In [7]:
dic1

{'name': 'krish',
 'email_id': 'rohankalra2356@gmail.com',
 'class': 'first',
 'type': 'God'}

In [8]:
type(dic1) # now it is not showing us set becoz we store the data in the form of key and value here

dict

In [9]:
d2 = {'name': 'shudh' , 'name':'rohan'} # we have define the same key twice

In [10]:
d2 # whenever we create a dict our key should be unique if we create same key then it will take the neewly assign value only 
# just like in dict same word can assign to diff meaning but same word will not be repeated

{'name': 'rohan'}

In [11]:
d3 = {223232: 'krish'}

In [12]:
d3 # yes it will work

{223232: 'krish'}

In [13]:
d4={2344444.4444 : 'krish'}
d4 # yes it will work

{2344444.4444: 'krish'}

In [14]:
d5 = {True: 'abc'}

In [15]:
d5 # so key can be string , int , float and boolean value .. it's working for everything

{True: 'abc'}

In [17]:
d6 = {@:'687'}# for special character it is not working

SyntaxError: invalid syntax (3974028444.py, line 1)

In [18]:
# let's take key as a list
dict1 = {[1,2,3,4]:'abc'} # not working

TypeError: unhashable type: 'list'

In [19]:
d9 = {(1,2,3,4):'abc'}# tuples are working list are not working due to hashable type

In [20]:
d9

{(1, 2, 3, 4): 'abc'}

In [22]:
d3 = {{1,2,3}: "abx"} # again set are not working too

TypeError: unhashable type: 'set'

In [24]:
d1 = {{"key":234}:'abc'}

TypeError: unhashable type: 'dict'

In [25]:
# from collection point of view we can only take tuple as a key

In [26]:
d12 = {"course name":['data scinece' , 'web dev ' , 'java with DSA' , 'graphic designer']}

In [27]:
# so we can see above that value as a list is allowed

In [28]:
d13 = {'key' : (1,2,3,4,5)} # so we can see values can be tuple too

In [29]:
d14 = {'key':{1,2,3,4}} # so we can see values as a set is also working

In [30]:
d15 = {'key': {'key':123}} # so we can see values as a dict is also workin# 
# this is also known as nested dictionary

In [33]:
d16 = {"batch_no":['data science' , 'web dev' , 'java with DSA', 'system design'] , 'start_date':(28,14,23,26,34) , 'mentor_name':{'krish naik' , 'sudhanshu' , 'hitesh' , 'anurag' , 'naveen'}}

In [34]:
d16

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'}}

In [35]:
# add a new key and value pair in the dictionary
d16['timing'] = (8,8,8,8)

In [36]:
d16

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8, 8)}

In [37]:
d16['ending date'] = [12,30,21,13]

In [38]:
d16

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8, 8),
 'ending date': [12, 30, 21, 13]}

In [39]:
# it will not add any data but it will get updated

In [43]:
# how to extract particular data set in the dict
# dict stores the data in the form of the index but the key behaves like the index 
# in case of dict our key is behave like the dictionaries 
d16['batch_no']

['data science', 'web dev', 'java with DSA', 'system design']

In [44]:
d16['mentor_name']

{'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'}

In [45]:
type(d16['mentor_name'])

set

In [46]:
d16['key'] #let's search for something which is not availale it is going to give us the keyerror

KeyError: 'key'

In [47]:
d16['name'] = 'rohan'

In [48]:
d16

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8, 8),
 'ending date': [12, 30, 21, 13],
 'name': 'rohan'}

In [49]:
d16['name']

'rohan'

In [50]:
#can we convert them into the uppercases ???

In [51]:
d16['name'].upper()

'ROHAN'

In [54]:
d15  = {'key':{'name':'rohan' , 'age':25 , 'fathername':'ishwar lal'}}

In [55]:
d15

{'key': {'name': 'rohan', 'age': 25, 'fathername': 'ishwar lal'}}

In [56]:
d15['key']['age'] # how to extract the data when value is in the form of dict itself

25

In [58]:
type(d15['key']) # we need to fetch the value out of this dict

dict

In [59]:
d15['key1'] = 'abc'

In [60]:
d15

{'key': {'name': 'rohan', 'age': 25, 'fathername': 'ishwar lal'},
 'key1': 'abc'}

In [62]:
del d15['key1'] # delete any key in the dict

In [63]:
d15

{'key': {'name': 'rohan', 'age': 25, 'fathername': 'ishwar lal'}}

In [64]:
d15.clear()

In [65]:
d15

{}

In [66]:
    d16

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8, 8),
 'ending date': [12, 30, 21, 13],
 'name': 'rohan'}

In [67]:
len(d16)

6

In [68]:
# how to ectract all the keys available in the dataset 
d16

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8, 8),
 'ending date': [12, 30, 21, 13],
 'name': 'rohan'}

In [70]:
d16.keys()

dict_keys(['batch_no', 'start_date', 'mentor_name', 'timing', 'ending date', 'name'])

In [71]:
d16.values()

dict_values([['data science', 'web dev', 'java with DSA', 'system design'], (28, 14, 23, 26, 34), {'naveen', 'hitesh', 'sudhanshu', 'anurag', 'krish naik'}, (8, 8, 8, 8), [12, 30, 21, 13], 'rohan'])

In [72]:
# can we convert the data we got into entire list ? , the data of keys and values (output data)
list(d16.values())

[['data science', 'web dev', 'java with DSA', 'system design'],
 (28, 14, 23, 26, 34),
 {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 (8, 8, 8, 8),
 [12, 30, 21, 13],
 'rohan']

In [73]:
list(d16.keys())

['batch_no', 'start_date', 'mentor_name', 'timing', 'ending date', 'name']

In [74]:
# can we extract a list of keys and value both 
d16.items()

dict_items([('batch_no', ['data science', 'web dev', 'java with DSA', 'system design']), ('start_date', (28, 14, 23, 26, 34)), ('mentor_name', {'naveen', 'hitesh', 'sudhanshu', 'anurag', 'krish naik'}), ('timing', (8, 8, 8, 8)), ('ending date', [12, 30, 21, 13]), ('name', 'rohan')])

In [75]:
list(d16.items())

[('batch_no', ['data science', 'web dev', 'java with DSA', 'system design']),
 ('start_date', (28, 14, 23, 26, 34)),
 ('mentor_name', {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'}),
 ('timing', (8, 8, 8, 8)),
 ('ending date', [12, 30, 21, 13]),
 ('name', 'rohan')]

In [76]:
# it is returning us the data of keys and values together in the form of tuples here we can see we have 6 tuples means 6 pair of key and vaalue .

In [77]:
d16 # we want to make a replica of it

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8, 8),
 'ending date': [12, 30, 21, 13],
 'name': 'rohan'}

In [81]:
d17 = d16.copy() # in this case the task done on d17 doen't effet the d17 any way let's see below

In [82]:
d17

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8, 8),
 'ending date': [12, 30, 21, 13],
 'name': 'rohan'}

In [83]:
# another way 
d18 = d16 # as we caan seen below in this method of copy if we do any certain task with d16 then it also effect the d18

In [84]:
d16

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8, 8),
 'ending date': [12, 30, 21, 13],
 'name': 'rohan'}

In [86]:
d16['keys']='value'

In [87]:
d16

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8, 8),
 'ending date': [12, 30, 21, 13],
 'name': 'rohan',
 'keys': 'value'}

In [88]:
d18 # the new assign values get added to d18 by itself (which we added to d16)

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8, 8),
 'ending date': [12, 30, 21, 13],
 'name': 'rohan',
 'keys': 'value'}

In [89]:
d17 # here the newly added value in d16 are not present here

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8, 8),
 'ending date': [12, 30, 21, 13],
 'name': 'rohan'}

In [93]:
del d16['name']

In [94]:
d16

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8, 8),
 'ending date': [12, 30, 21, 13]}

In [95]:
 d18 # name is not present here

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8, 8),
 'ending date': [12, 30, 21, 13],
 'name': 'rohan'}

In [97]:
d17 # name is present

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'timing': (8, 8, 8, 8),
 'ending date': [12, 30, 21, 13],
 'name': 'rohan'}

In [99]:
d16.pop('timing')

(8, 8, 8, 8)

In [100]:
d16 # timing is deleted

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'mentor_name': {'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'},
 'ending date': [12, 30, 21, 13]}

In [101]:
d16.pop('mentor_name' , 'ending_date') # delete one data at one time

{'anurag', 'hitesh', 'krish naik', 'naveen', 'sudhanshu'}

In [102]:
d16

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'ending date': [12, 30, 21, 13]}

In [103]:
d

{}

In [106]:
d.fromkeys((1,2,3),('a','b','c')) # we can pass (1,2,3) even as a list # new dict formed 
#the 2nd parameter we passes it considered it as a value

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [109]:
d19 = {'key1':'value1' , 'key2':'value2'}

In [110]:
d19

{'key1': 'value1', 'key2': 'value2'}

In [111]:
d20 = {'key3':'value3', 'key4':'value4'}

In [112]:
# let's keep both the dict in single tuples
(d19 , d20)

({'key1': 'value1', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [113]:
d19.update(d20) #update d 19 with respect to d20 we have all the values of d19 but it has taken an update from d20

In [114]:
d19

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [115]:
d20 # d20 will remain same

{'key3': 'value3', 'key4': 'value4'}

In [117]:
d20.update(d19)

In [118]:
d20

{'key3': 'value3', 'key4': 'value4', 'key1': 'value1', 'key2': 'value2'}

In [119]:
d20.get('sudh') # doesn't even exist

In [120]:
d20.get('key3') # giving the value of key3

'value3'

In [121]:
d20['key3']

'value3'

In [123]:
d20['shudh'] # it is giving us the error while get never give us the error

KeyError: 'shudh'

dictionary comprehension --__>>>> running for loop and creating final output as a dictionary

let's create a dict where keys are 1 to 10 and values are sq of each no

In [126]:
{i : i **2 for i in range(1,11)} # return i:i**2 , iterate through range with for i in range(1,11) then return i:i**2

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [127]:
{i:i+3 for i in range(1,11)}

{1: 4, 2: 5, 3: 6, 4: 7, 5: 8, 6: 9, 7: 10, 8: 11, 9: 12, 10: 13}

In [133]:
import math
d21 = { i: math.log(i) for i in range(1,11)}

In [129]:
d16

{'batch_no': ['data science', 'web dev', 'java with DSA', 'system design'],
 'start_date': (28, 14, 23, 26, 34),
 'ending date': [12, 30, 21, 13]}

In [131]:
# to check if batchname is key in dict
'batch_no' in d16

True

In [134]:
d21

{1: 0.0,
 2: 0.6931471805599453,
 3: 1.0986122886681098,
 4: 1.3862943611198906,
 5: 1.6094379124341003,
 6: 1.791759469228055,
 7: 1.9459101490553132,
 8: 2.0794415416798357,
 9: 2.1972245773362196,
 10: 2.302585092994046}

In [141]:
d21.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [142]:
# filter out those value where keys are even number 
for i in d21.keys():
    if i%2==0:
        print(d21[i])

0.6931471805599453
1.3862943611198906
1.791759469228055
2.0794415416798357
2.302585092994046